.container{

    width:100%;
    max-width:850px;

    margin:0 auto;

    margin-top: 60px;

    padding:2rem;

    border-radius: var(--radius-small);
    border: none;

    display:flex;
    flex-direction:column;

    gap:2rem;

    background-color:var(--color-surface);
}